/* Font families */


/* Setting root font size */
:root {
  /* Setting global fluid typography that will be reflected in Tailwind */
  /* https://utopia.fyi/blog/clamp/ */
  --f-max-w: 122.5; /*1960px in REM*/
  --f-min-w: 22.5; /*360px in REM*/
  --f-minus: (-1 * var(--f-min-w)); /* Precalcuation for the -MinWidth we need */
  --f-w: (var(--f-max-w) - var(--f-min-w)); /* Precalculation for the (MaxWidth - MinWidth) we need */

  /* Per step size */
  --f-0-min: 1.125; /* Min font size 18px in rem */
  --f-0-max: 1.25; /* Max font size 20px in rem */
  --f-0-slope: (var(--f-0-max) - var(--f-0-min)) / (var(--f-max-w) - var(--f-min-w));
  --f-0-intersection: ((-1 * var(--f-min-w)) * var(--f-0-slope) + var(--f-0-min));

  font-size:  clamp(calc(var(--f-0-min) * 1rem), calc(var(--f-0-intersection) * 1rem + var(--f-0-slope) * 100vw), calc(var(--f-0-max) * 1rem));
}

@layer utilities {
    .u-half-italic {
        font-variation-settings: 'slnt' -5;
    }

	/* Since we loaded in the inter variable font, we can define more specific font wght and slnt properties in font-variation-settings property and tracking inside of letter-spacing property. See https://rsms.me/inter/ */
	/* Also, variable fonts works with font-weight rules so there isn't a real need to define font weight through the 'wght' option unless in between values are needed e.g. 250 */
	.u-slant-hairline {
		font-variation-settings: 'wght' 70, 'slnt' -10;
	}
}
